<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="/static/css/st.css')" rel="stylesheet">
    <title>{% block title %} Elearning {% endblock %}</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('get_video')}}">FlaskBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">About</a>
            </li>
            </ul>
        </div>
    </nav>
    {% for item in video %}
    <div id="navigation">
    
    <a href="{{ url_for('video_page',video_id = item['video_id'])}}"><h2>{{ item['video_name'] }}</h2></a>

    <span>{{ item['video_link'] }}</span>
        <iframe width="420" height="345" src="{{ item['video_link']}}" ></iframe>
        <hr>
        </div>
    {% endfor %}
    </div>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>
  
</body>
</html


